<nav id="nav-principal" class="flex-between">
    <div class="flex"> 
        <div class="logo-temp"></div>
        <a href="{{ path('app_home') }}" class="h3">Exoris</a>
    </div>

    <ul>
        <li><a class="h3-regular nav-element nav-element-active" href="{{ path('app_home') }}">Accueil</a></li>
        <li><a class="h3-regular nav-element" href="{{ path('app_services') }}">Services</a></li>
        <li><a class="h3-regular nav-element" href="{{ path('app_blog') }}">Actualités</a></li>
        <li><a class="h3-regular nav-element" href="{{ path('app_about') }}">Histoire</a></li>
    </ul>

    <div class="flex">
        <button><span class="material-symbols-outlined">light_mode</span></button>
        <button><span class="material-symbols-outlined">account_circle</span></button>
    </div>
</nav>